@import "tailwindcss";

@font-face {
  font-family: "Clash Display";
  src: url("/ClashDisplay-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("Manrope-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-heading: "Clash Display", sans-serif;
  --font-body: "Manrope", sans-serif;
}
