@import "tailwindcss";

@font-face {
  font-family: "Clash Display";
  src: url("/ClashDisplay-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("/Manrope-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-heading: "Clash Display", sans-serif;
  --font-body: "Manrope", sans-serif;
}

.mask-radial-fade {
  -webkit-mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 45%,
    rgba(0, 0, 0, 0) 75%
  );
  mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 45%,
    rgba(0, 0, 0, 0) 75%
  );
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: cover;
  mask-size: cover;
}

html {
  scrollbar-gutter: stable both-edges;
}
