@import "tailwindcss";

@font-face {
  font-family: "Jost";
  src: url("/Jost-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-jost: "Jost", sans-serif;
}
